@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #003D7B;
    text-decoration: white;
  } 
  .row.content {height: 450px}
  .sidenav {
    padding-top: 10px;
    height:150%;
  }
  
  footer {
    background-color: #f1f1f1;
    color: black;
    padding: 15px;
  }

  #footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 60px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
#sidebar {
    background: #f1f1f1;
    transition: all 0.3s;
}

#sidebar ul li a {
    padding: 13px;
    color:black;
    font-size: 1.2em;
    display: block;
    text-align: left;
    text-decoration: none;   
}
#sidebar ul li a:hover {
    color: white;
    background: #555;
    text-align: center;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
body {
    font-family: 'Poppins', sans-serif;
    /* background: #fafafa; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#form-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
#form1 {
  width: 50%;
  display: inline-block;
}
#form2 {
  width: 50%;
  display: inline-block;
}

.approvalButton1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  scale: 120%;
}

.approvalButton2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  margin-left: 405px;
  scale: 150%;
}



